body {
    @extend .scroll-box;
    margin: 0;
}

.scroll-box {
    overflow-y: auto;
    scrollbar-width: thin;
  
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: none;
      background-color: rgba(94, 94, 94, 0.25);
      cursor: grab;
    }
}

.relative {
    position: relative;
}

.bw {
    background-color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-evently {
    justify-content: space-evenly;
}

.align-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.paragraph {
    word-break: break-word;
}

.text-center {
    text-align: center;
}

.cp {
    cursor: pointer;
}

.white-border {
    border: 3px solid white;
}

.text-black {
    color: black !important;
}

.text-blue {
    color: #0C1B6A !important;
}

@for $i from 0 through 25 {
    .w-#{$i} {
        max-width: calc(100px * #{$i});
    }
    .wp-#{$i} {
        width: calc(10% * #{$i});
    }
    .hp-#{$i} {
        height: calc(10% * #{$i});
    }
    .mt-#{$i} {
        margin-top: calc(4px * #{$i}) !important;
    }
    
    .mr-#{$i} {
        margin-right: calc(4px * #{$i}) !important;
    }

    .mb-#{$i} {
        margin-bottom: calc(4px * #{$i}) !important;
    }

    .ml-#{$i} {
        margin-left: calc(4px * #{$i}) !important;
    }

    .ma-#{$i} {
        margin: calc(4px * #{$i}) !important;
    }

    .mrl-#{$i} {
        margin: auto calc(4px * #{$i}) !important;
    }

    .mtb-#{$i} {
        margin: calc(4px * #{$i}) auto !important;
    }
    .pt-#{$i} {
        padding-top: calc(4px * #{$i}) !important;
    }

    .pr-#{$i} {
        padding-right: calc(4px * #{$i}) !important;
    }

    .pb-#{$i} {
        padding-bottom: calc(4px * #{$i}) !important;
    }

    .pl-#{$i} {
        padding-left: calc(4px * #{$i}) !important;
    }

    .pa-#{$i} {
        padding: calc(4px * #{$i}) !important;
    }

    .prl-#{$i} {
        padding: 0 calc(4px * #{$i}) !important;
    }

    .ptb-#{$i} {
        padding: calc(4px * #{$i}) 0 !important;
    }
    .lh-#{$i} {
        line-height: calc(5px * #{$i});
    }
}

.before-enter {
    span,
    img,
    .page-title-small,
    .page-title-middle,
    .page-title-normal,
    .page-title-large,
    .page-title-big {
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.5s ease-in-out;
      &:nth-child(2) {
        transition: all 0.6s ease-in-out;
      }
      &:nth-child(3) {
        transition: all 0.7s ease-in-out;
      }
      &:nth-child(4) {
        transition: all 0.8s ease-in-out;
      }
      &:nth-child(5) {
        transition: all 0.9s ease-in-out;
      }
      &:nth-child(6) {
        transition: all 1s ease-in-out;
      }
    }
  }
  
  .enter {
    span,
    img,
    .page-title-small,
    .page-title-middle,
    .page-title-normal,
    .page-title-large,
    .page-title-big {
      opacity: 1;
      transform: translateY(0px);
    //   transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
    }
  }

  .rotate {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    @keyframes rotation {
      0% {
          transform:rotate(0deg);
      }
      100% {
          transform:rotate(360deg);
      }
    }
  }

@media (min-width: 320px) { //mobile
    .page-title-big {
        font-size: 50px;
    }
    .page-title-large {
        font-size: 35px;
    }
    .page-title-normal {
        font-size: 28px;
        font-weight: 300;
    }
    .page-title-middle {
        font-size: 20px;
        font-weight: 300;
    }
    .page-title-small {
        font-size: 16px;
        font-weight: 300;
    }
    .custom-height {
        height: 150vh!important;
    }
    .about-us {
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
        .photo-block {
            width: 100%;
            .we {
                width: 100%;
                height: auto;
            }
        }
        .about-paragraph {
            height: 100vh;
            width: 100%;
        }
        .stars {
            right: unset;
            left: 44%;
            top: 7%;
            width: 200px;
            height: 350px;
        }
    }
    .our-event {
        flex-direction: column;
        .list-item {
            margin-top: 20px;
            padding-left: 0;
        }
        .shedule-block {
            height: 100vh;
            width: 100%;
        }
        .place-block {
            height: 100vh;
            width: 100%;
            .venue {
                width: inherit; 
                height: auto;
            }
        }
    }
    .suggestions-block {
        min-height: 100vh;
        .suggestions {
            justify-content: space-between;
            overflow-x: scroll;
            height: fit-content;
            .suggestion {
                min-width: 85vw;
            }
        }
        .suggestions-description {
            width: 90%;
        }
        .colors {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            .color-circle p {
                left: -50%;
            }
        }
    }
    .contact-persons {
        flex-direction: column;
        .contact-person {
            margin-top: 50px;
        }
    }
}

@media (min-width: 400px) { //special mobile
    .suggestions-block .colors {
        justify-content: center;
        flex-direction: row;
        .color {
            width: 30%;
        }
    }
}

@media (min-width: 768px) { //tablet
    .page-title-big {
        font-size: 70px;
    }
    .page-title-large {
        font-size: 50px;
    }
    .page-title-normal {
        font-size: 32px;
    }
    .page-title-middle {
        font-size: 20px;
    }
    .page-title-small {
        font-size: 16px;
    }
    .custom-height {
        height: 100vh!important;
    }
    .title-block {
        border: 3px solid white;
    }
    .about-us {
        flex-direction: column;
        flex-wrap: nowrap;
        .photo-block {
            width: 100%;
            .we {
                width: 386px;
                height: 525px;
            }
        }
        .about-paragraph {
            width: 100%;
        }
        .stars {
            right: 14%;
            top: 3%;
            left: unset;
            width: 300px;
            height: 525px;
        }
    }
    .our-event {
        flex-direction: column;
        .list-item {
            margin-top: 20px;
            padding-left: 50px;
        }
        .shedule-block {
            width: 100%;
        }
        .place-block {
            width: 100%;
            .venue {
                width: 476px; 
                height: 331px;
            }
        }
    }
    .suggestions-block {
        min-height: 100vh;
        .suggestions {
            justify-content: space-between;
            overflow-x: scroll;
            height: fit-content;
            .suggestion {
                max-width: 682px;
            }
        }
        .suggestions-description {
            width: 90%;
        }
        .colors {
            height: fit-content;
            .color-circle p {
                white-space: nowrap;
                left: -50%;
            }
        }
    }
    .contact-persons {
        flex-direction: column;
        .contact-person {
            margin-top: 50px;
        }
    }
}

@media (min-width: 1024px) { //laptop
    .page-title-big {
        font-size: 96px;
    }
    .page-title-large {
        font-size: 64px;
    }
    .page-title-normal {
        font-size: 40px;
    }
    .page-title-middle {
        font-size: 24px;
    }
    .page-title-small {
        font-size: 16px;
    }
    .about-us {
        flex-direction: row;
        .we {
            width: 386px;
            height: 525px;
        }
    }
    .our-event {
        flex-direction: row;
        flex-wrap: nowrap;
        .list-item {
            margin-top: 20px;
            padding-left: 50px;
        }
        .place-block {
            .venue {
                width: 476px; 
                height: 331px;
            }
        }
    }
    .suggestions-block {
        height: 100vh;
        .suggestions {
            justify-content: space-evenly;
            white-space: inherit;
            height: auto;
            .suggestion {
                min-width: unset;
            }
        }
        .suggestions-description {
            width: 100%;
        }
        .colors {
            height: fit-content;
            flex-direction: row;
            .color {
                width: auto;
                .color-circle {
                    &:hover {
                        border: lightsteelblue solid 10px;
                        p {
                            visibility: visible;
                            display: block;
                        }
                    }
                }
            }
            
        }
    }
    .contact-persons {
        flex-direction: row;
        justify-content: space-evenly;
        top: 80%;
        .contact-person {
            margin-top: 0;
        }
    }
}
